:root{
  --first-color: #5b4834;
  --second-color: #aaa69d;
}
@font-face{
src:url(css\fonts\Janna.ttf);
font-family:janna;
}
.*{
  font-family: janna !important;
}
body{
  background:#f3f3f3;
}
a,a:hover{
  text-decoration: none;
}

#side-area{
  background:var(--first-color);
  color:#fff;
  padding:20px 0;
}
#side-area h4{
  text-align:center;
  margin-bottom: 20px;
}

#side-area ul {
    list-style: none;
    padding:0;
}

#side-area ul li{
  background:var(--second-color);
  margin-bottom: 5px;
  padding:5px;
}
#side-area ul li a{
  color:#fff;
}
#side-area #menu li{
  background: #000;
}

#main-area{
  margin-top: 15px;
}
/* Start Categories */
.add-category{
  margin-top:30px;
}
.btn-custom{
  background:var(--first-color);
  color:#fff;
  border:1px solid var(--first-color);
  padding: 5px 10px;
}
/* End Categories */

.display-cat tr:first-child{
  background: var(--first-color);
  color:#fff;
}
